{% extends 'music/base.html' %}
{% block title %}
  Album Details
{% endblock %}
{% block body %}
  <img src="{{ album.album_logo}}" wdith='700' height='1100'></a>
  <h2>artist name: {{ object.artist }}</h2>
  <h2>album title: {{ object.album_title }}</h2>


  <form action="{% url 'music:favourite' album.id %}" method='post'>
    {% csrf_token %}
    {% for song in object.song_set.all %}
      <input type='radio' id = "song{{ forloop.counter }}" name='song' value="{{ song.id }}"></input>
      <label id="song{{ forloop.counter }}"> {{ song.song_title }} </label>
      {% if song.is_favorite %}
        <img src='https://i.imgur.com/b9b13Rd.png' />
      {% endif %}
      <br>
    {% endfor %}
    <br>
    <br>
    <input type='submit' value='favourite'></input>
  </form>
{% endblock %}
